
$color-primary: #CAD5E2;
$color-secondary: #5A20CB;
$color-acccent: #758283;
$color-font:#242B2E;

$primary-size: 2rem;
$secondary-size:1rem;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-primary;
    font-family: monospace;
    font-size: $primary-size;
    
}


//main nav container
.container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: $color-secondary;
    color: #CAD5E2;
}

//cart button nav

.cart-btn{
    background-color: transparent;
    border: none;
    outline: none;
  font-size: 2rem;
     color: #CAD5E2;
}

.count-display{
    position: absolute;
    text-align: center;
right: 0.5rem;
top:1.1rem;
width: 2.2rem;
color: black;
background-color: $color-primary;
border-radius: 50%;
vertical-align: top;
}

main{
    margin-top: 5rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    text-align: center;
}

.total-container{
    margin-top: 4rem
}


//product details section

.product-details{
    margin-top: 4rem;
    padding: 4rem;
}
img{
    height: 20rem;
}
.individual-product-container{
display: flex;
justify-content: space-between;
margin-bottom: 3rem;

}
.cart-ind{
    display: flex;

}

//remove button attached to every conatiner

.remove-btn{
    background-color: transparent;
 
    width: 7rem;
outline: none;
border: none;
color: gray;
font-size: 1.4rem;
text-transform: capitalize;
}

.remove-btn:hover{
    color: #242B2E;
    transition: 0.4s all ease-in-out;
}

.counter-btn{
    display: flex;
    flex-direction: column;
}

//btns present on the add/remove section

.add-btn{
    background-color: transparent;
    outline: none;
    border: none;
   
    font-size: 2rem;
}
.add-btn:hover{
    color:gray;
    transition: 0.4s all ease-in-out;
}

.total-container{
    display: flex;
    justify-content:space-around ;
}

.clear-btn{
    background-color: transparent;
    outline: 2px solid $color-secondary;
    border: none;
    color: $color-secondary;
    height: 2rem;
    width: 9rem;
margin: 1vh 0 4vh 50vw;
letter-spacing: 0.2rem;
font-size: 1rem;


}
button{
    cursor: pointer;
}

.clear-btn:hover{
    color: white;
    background-color: $color-secondary;
    transition: 0.4s all ease-in-out;
    
}

// for loading page

.Loader{
    text-align: center;
    margin-top: 50vh;

}